.tbl-data{
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
    text-align: left;
}

th,td{
    border: 2px solid black;
}

th{
    background-color: grey;
    color: white;
}
footer{
    width: 100%;
    text-align: center;
    background-color: grey;
    position: absolute;
    bottom: 0;
    color: white;
}